*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.player-options img{
    cursor: pointer;
}
.player-options img, .enemy-options img{
    max-width: 200px;
    opacity: 0.3;
}
.align{
    display: flex;
}
.player-options, .enemy-options{
    width: 50%;
    text-align: center;
}